<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>anchor layout</title>
	<link rel="stylesheet" type="text/css" href="../../ext-4.2.1/resources/css/ext-all.css" />
    <script type="text/javascript" src="../../ext-4.2.1/bootstrap.js"></script>
    <script type="text/javascript" src="../../ext-4.2.1/locale/ext-lang-zh_CN.js"></script>

	<script>
		Ext.onReady(function() {  
       Ext.create('Ext.Window',{
		title:'Anchor layout',
		width:400,
		height:400,
		layout:'anchor',
		plain: true,
		items:[
			Ext.create('Ext.panel.Panel',{
				title:'panel1',
				height:100,
				anchor:'-50',
				html:'高度等于100，宽度= 容器宽度-50'
			}),
			Ext.create('Ext.panel.Panel',{
				title:'panel2',
				height:100,
				anchor:'50%',
				html:'高度等于100，宽度=容器的宽度*50%'
			}),
			Ext.create('Ext.panel.Panel',{
				title:'panel3',
				anchor:'-10,-200',
				html:'高度等于容器高度-10,宽度等于容器宽度-200'
			})
		]
		
	}).show(); 
    }); 
	</script>
</head>
<body>
	
</body>
</html>