<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>accordion layout</title>
	<title>border layout</title>
	<link rel="stylesheet" type="text/css" href="../../ext-4.2.1/resources/css/ext-all.css" />
    <script type="text/javascript" src="../../ext-4.2.1/bootstrap.js"></script>
    <script type="text/javascript" src="../../ext-4.2.1/locale/ext-lang-zh_CN.js"></script>

	<script>
	Ext.onReady(function(){  
	     Ext.create('Ext.panel.Panel',{
			title:'容器组件',
			layout:'accordion',
			width:600,
			height:200,
			layoutConfig:{animate:false},
			items:[{
			   title:'元素1',html:'html1'
			},{
			   title:'元素2',html:'html2'
			},{
			   title:'元素3',html:'html3'
			},{
			   title:'元素4',html:'html4'
			}],

			renderTo: Ext.getBody()
			
		}); 
	}); 
	</script>
</head>
<body>
	
</body>
</html>