<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
	<script src="../../vue.min.js"></script>
<body>
	<div id="app">
		<fieldset>
			<legend>
				Create New Person
			</legend>
			<div class="form-group">
				<label>name: </label>
				<input type="text" v-model="newPerson.name" />
			</div>
			<div class="form-group">
				<label>age: </label>
				<input type="text" v-model="newPerson.age" />
			</div>
			<div class="form-group">
				<label>sex: </label>
				<select v-model="newPerson.sex">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>

			<button @click="createPerson">Create</button>
		</fieldset>
		
		<table>
			<tr>
				<th>Name</th><th>Age</th><th>Sex</th><th>Delete</th>
			</tr>
			<tr v-for="(person, index) in persons">
				<td>{{ person.name }}</td>
				<td>{{ person.age }}</td>
				<td>{{ person.sex }}</td>
				<td><button @click="deletePerson(index)">delete</button></td>
			</tr>
		</table>
	</div>

	<script>
		var vue = new Vue({
			el: "#app",
			data: {
				persons: [
					{ name: "Jack", age: 30, sex: "Male" },
					{ name: "Bill", age: 26, sex: "Male" },
					{ name: "Tracy", age: 22, sex: "Female" },
					{ name: "Chris", age: 36, sex: "Male" }
				],
				newPerson: { name: "", age: 0, sex: "Male" }
			},
			methods: {
				createPerson: function() {
					this.persons.push(this.newPerson);
					this.newPerson = { name: "", age: 0, sex: "Male" };
				},

				deletePerson: function(index) {
					this.persons.splice(index, 1);
				}
			}
		});



		
	</script>

	<style>
		table {
			border-collapse: collapse;
			margin: auto;
		}

		table, th, tr, td {
			border: 1px solid black;
		}
		
		td, th {
			width: 100px;
			padding-left: 10px;
		}
		
		th {
			font-weight: normal;
			background-color: #42B983;
		}

		tr:nth-child(odd) {
			background-color: #EEEEEE;
		}
	</style>
</body>
</html>
